:root {
    --color-white: #ffffff;
    --menu-background: #091336;
    --logo-menu-color: rgba(255, 255, 255, 0.6);
    --button-background: #005ff8;
    --active-menu-dot: #ffd500;
    --active-menu-dot-shadow: rgba(237, 218, 1, 0.5);
    --active-menu-bg: rgba(216, 228, 251, 0.32);
    --calls-header-stat-red: #ea1a4f;
    --calls-header-stat-green: #28a879;
    --calls-header-stat-yellow: #ffd500;
    --calls-header-stat-gray: #dee6f5;
    --calls-header-name: #899cb1;
    --calls-header-shadow: 0px 4px 5px #e9edf3;
    --calls-list-line-color: #eaf0fa;
    --calls-list-mistakes-color: #5e7793;
    --calls-list-bgc: #e5e5e5;
    --calls-list-text-color: #122945;
}
